@layer theme, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

/** Smaller top bar */
.navbar li a,
.navbar-brand {
    padding: 4px !important;
}
.small-logo {
    height: 42px !important;
}

/* Hide position numbers in matching exercises */
td.position,
td.separator {
    display: none !important;
}
