@layer theme {
    @import 'tailwindcss/theme.css';
}

@layer base {
    .viceroy {
        @import 'tailwindcss/preflight.css';
    }
}

@layer components;

@layer utilities {
    @import 'tailwindcss/utilities.css';
}

/** Smaller top bar */
.navbar li a,
.navbar-brand {
    padding: 4px !important;
}
.small-logo {
    height: 42px !important;
}

.ui-layout-resizer,
.ui-layout-south,
.ui-layout-center {
    display: none !important;
}

table .problem_nav_container {
    padding: 8px 12px;
    font-size: 16px;

    &:hover {
        background-color: #f0f0f0;
    }
}
